* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: darkcyan;
}

nav {
    background-color: darkblue;
    padding: 25px;
    text-align: center;
}

nav a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    background-color: darkgrey;
    border-radius: 9px;
    padding: 10px;
    margin: 10px;
    border: darkcyan solid 5px;
}

nav a:hover{
    background-color: coral;
}